[2012-05-25 09:32] beberlei opened #4 "Check File Persmissions"
Moar code:

[code]

[2012-09-02 08:12] beberlei opened #6 "Allow to change exceptions on a package/library level"
You should be able to subclass Assertion to change the exception message. A global configuration is explicitly avoided, because it could break other libraries.

[2012-09-02 08:12] #6 closed, assigned to nobody

[2012-09-07 14:05] gruberro opened #13 "Negated checks for ```eq``` and ```same```"
I'm thinking about negated checks for the assertions `eq` and `same` (aka `neq` and `notSame`). What do you think about this additional methods? In my opinion these checks are quite common. Currently the only way to do a negated check is to catch the exception and proceed only in this case.

Maybe an extension similar to the magic `__callStatic`-`nullOr{Method}` as `not{Method}` could also make se

[2012-12-11 12:47] marijn opened #16 "[RFC] Allow parameterized messages"
I was wondering if you would be up for a PR for parameterized strings.

Eg.:

[code]

[2012-12-31 12:28] szjani opened #17 "Multibyte string functions"
It would be great to use multibyte string functions in Assertion::minLength(), Assertion::maxLength(), etc. methods.

[2012-12-31 12:41] #17 closed, assigned to nobody

[2013-02-04 22:04] kingcrunch opened #24 "Missing License file"
There should be a dedicated license file

[2013-05-21 03:37] adri opened #31 "v1.3 Release soon?"
Hi,

thanks a lot for this great library! I'm integrating it into many projects because I find my code much more readable.

There have been some changes and especially 'library/project based assertion subclass' are a feature I really would like to use. Do you think this is **stable enough** to release a v1.3 version?

Cheers,
Adrian

[2013-05-21 05:18] #31 closed, assigned to nobody

[2013-05-21 05:38] #24 closed, assigned to nobody

[2013-12-21 18:41] beberlei opened #45 "Additional builder api"
Following this scheme:

https://github.com/joel-costigliola/assertj-core/wiki/Using-assertj-assertions

[2014-01-26 11:16] beberlei opened #47 "Soft Assertions"
http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions

[2014-01-26 15:57] #47 closed, assigned to nobody

[2014-01-26 15:58] #45 closed, assigned to nobody

[2014-01-27 18:36] #13 closed, assigned to nobody

[2014-02-20 09:58] AntonStoeckl opened #53 "min, max, range Assertions don't accept integerish"
Hi Benjamin,

With the new fluid API it's very easy to assert that a value is a positive integer or in some range of integers.

Assert\that($number)->nullOr()->integerish()->min(1);
Assert\that($number)->nullOr()->integerish()->range(1, 10);

The problem is that min, max, range and maybe other Assertions first assert that the value(s) is/are integer(s). Any integerish parameter that comes in throu

[2014-03-21 11:13] #53 closed, assigned to nobody

[2014-06-05 08:11] dmolineus opened #57 "Fluent API does not use own Assertion class"
There is no way to use a specific Assertion class when using the fluent api. So using fluent api andd an own excpetion type at the same time have a drawback to me. When changing the assertion a differnt exception will be thrown.

[code]

[2014-07-13 18:27] #4 closed, assigned to nobody

[2014-07-15 15:29] fritsjanb opened #58 "isJsonString accepts an empty string and null"
json_last_error() returns 0 when json_decode-ing an empty string and when json_decode-ing null.

The result:

[code]

both do not throw an exception

To me this looks like unwanted behavior. Can I send a PR for this?

[2014-07-15 21:45] #58 closed, assigned to nobody

[2014-07-26 17:05] dzentota opened #59 "Assertion::url doesn't respect underscore in domain names"
e.g. http://t_rost.rosfirm.ru/ is valid URL, may be it's not corresponds to some specs but it works
replace
`([\pL\pN\pS-]+\.)+[\pL]+`                   # a domain name
with
`([\pL\pN\pS-_]+\.)+[\pL]+`                   # a domain name

[2014-08-23 12:49] ben-gibson opened #61 "Override exception class - chain-able assertions."
I cant see any obvious way to override the exception class when using chain-able assertions as your Assertion subclass will be by-passed.

[2014-09-03 20:17] cordoval opened #64 "please remove wiki tab"
i think the github option should be defaulted to hidden, is a checkbox in the settings panel

[2014-09-03 20:24] cordoval opened #65 "example of own assertion in a DDD context"
this library is very good for DDD, however at first sight is very hard for a newbie to see that

the last example on the readme poses an Assertion class but the name is too simple, not even YourOwnAssertion which even though is bad, is better than the Assertion example. Beyond this point perhaps one can show how the CustomAssertion is used in an example.

[2014-09-03 20:33] #65 closed, assigned to nobody

[2014-09-03 20:33] #64 closed, assigned to nobody

[2014-09-03 20:35] #61 closed, assigned to nobody

[2014-12-18 13:59] #16 closed, assigned to nobody

[2014-12-18 14:09] webmozart opened #78 "alnum() misleading, should use ctype_alnum()"
Currently, Assertion::alnum() tests that a value consists of alphabetic and numeric characters only _and_ starts with a letter. I think this is misleading, as it is different to what ctype_alnum() does.

I think that alnum() should be changed to use ctype_alnum() internally, moreover helpers for the other ctype_*() functions should be implemented.

We can add another helper testing that a string s

[2015-01-04 20:44] sagikazarmark opened #82 "Use custom assertion class in AssertionChain"
Is that possible somehow?

[2015-01-08 00:43] sagikazarmark opened #83 "How to assert that a value is string or integer?"
Numeric is not an option, because it cannot be float.

[2015-01-16 19:28] sagikazarmark opened #85 "Make stringify protected"
`stringify` method cannot be used in child classes because it is private.

[2015-01-16 20:36] sagikazarmark opened #86 "Add a choicesIsset (pair of choicesNotEmpty)"
IMO meaning is obvious. Will open a PR if you +1 it.

[2015-01-16 21:00] sagikazarmark opened #87 "Valid IP address assertion"
It could support both long format IP addresses and string format with filter_var

[2015-02-01 15:57] sagikazarmark commented on #82
Closing as duplicate of #57

[2015-02-01 15:57] #82 closed

[2015-02-01 15:58] sagikazarmark commented on #57
I can imagine a solution like this:

[code]

[2015-02-11 00:37] terah commented on #83
Maybe this?
[code]

[2015-02-11 00:47] terah opened #91 "Conventions for the integer constants in Assert\Assertion"
Hi,

I've got a few assertion methods I'd like share back.  What are the conventions for the numbering of the error constants in Assert\Assertion?

[2015-02-20 21:38] RobsenInTheHouse opened #94 "Enhancement: Constants gathering"
When checking method parameters i often want to check if it is a correct value of some constants that fit here. So i made a convenience method in my Assert subclass. The source is below, perhaps its useful for you to integrate in some way.

For example you can do:

public class C
{
    const MODE_A = 1;
    const MODE_B = 2;

    const OTHER_XYZ = 'something';

    public functio setMode($mode)

[2015-02-23 10:59] mdavis1982 opened #95 "float() Assertion missing from list of Assertions"
In the list of the assertions in the README file, the `float()` assertion is missing.

[2015-02-23 11:12] #95 closed

[2015-03-06 06:35] terah opened #97 "License question"
Hey Benjamin,

I'd like to create very light weight version of the fluent interface to assert for use in some code that is going be very heavily used in my app.  Your license file states that the copyright notice needs to be retained.  So,  would you like the following retained?

[code]

[2015-04-01 19:06] KingCrunch opened #98 "Arithmetic"
Currently need to verify the sum of two integers, but I wonder, if something like this (`+`, `*`, `-`, `\`, `%`) fits into the library itself like

[code]

What do you think?

[2015-04-01 19:30] KingCrunch opened #99 "Use numbered placeholders in sprintf templates"
This way one can use this placeholders in custom messages without taking care of the arguments given first. The (obvious) downside is, that one needs to one which argument comes at which position, but the alternative seems to be a (custom) template system like `str_replace("{{foo}}", "$foo", $message)` :wink:

[code]

[2015-04-01 19:40] KingCrunch opened #100 "length() behaves unexpected when using with binary strings"
The `length()`-assertion makes use of `mb_strlen()`, because it is hardcoded against `utf-8`, which sometimes finds valid codepoints within the string.

[code]

[2015-05-17 09:47] skollro opened #102 "Assertion "date" missing"
Hello,

I think an assertion for valid dates is missing `Assertion::date($value, $format)`.
Is anyone able to add this please? :)

[2015-06-29 12:56] mdavis1982 opened #108 "notEmpty() doesn't work for blank strings"
If I have a string with just space in it:

[code]

And I use `Assert::notEmpty($blank)`, the assertion doesn't fail.

[2015-07-20 15:27] mdavis1982 commented on #98
I don't think this belongs in the library. If you want to check the sum of two integers, you can do this:

[code]

[2015-07-20 15:30] mdavis1982 commented on #94
Couldn't you achieve the same thing by doing something like:

[code]

And then in your Assertion:

[code]

This seems cleaner in my opinion?

[2015-07-20 15:32] mdavis1982 commented on #91
You'll have to check with @beberlei but I don't think there is a specific convention for the numeric values of the assertions. I could be wrong though.

[2015-07-20 15:32] mdavis1982 commented on #87
Feel free to add a PR for this.

[2015-07-20 15:33] mdavis1982 commented on #86
Please feel free to open a PR for this for us to review.

[2015-07-20 15:34] mdavis1982 commented on #85
Why do you need to subclass the `Assertion` class? I can't think of a valid use case for doing this.

[2015-07-20 15:37] sagikazarmark commented on #85
This contradicts with the readme:

https://github.com/beberlei/assert#your-own-assertion-class

The obvious answer: custom assertions.

[2015-07-20 15:38] sagikazarmark commented on #86
Will do

[2015-07-20 15:38] mdavis1982 commented on #83
@terah I don't think that will work... Won't that validate that the value is `numeric` and `false`? I think in this case you'd need to run two separate assertions to make this possible:

[code]

[2015-07-20 15:38] sagikazarmark commented on #87
Will do

[2015-07-20 15:39] sagikazarmark commented on #83
@mdavis1982 ended up doing it, thanks.

[2015-07-20 15:39] #83 closed

[2015-07-20 15:39] mdavis1982 commented on #85
You can still use custom assertions without needing to access the `stringily()` method. I can't see a use case where you need to subclass the `Assertion` class and then access the `stringily()` method. What is the use case for this?

[2015-07-20 15:41] mdavis1982 commented on #78
I agree with @webmozart that this is confusing. I would expect that an alphanumeric check would mean that something like `123abc` would also pass because the content of it is alphanumeric.

Maybe the check that it starts with a letter could be removed @beberlei?

[2015-07-20 15:42] sagikazarmark commented on #85
Since this issue is about 6 months old, I don't recall the exact use case. However, I can imagine custom, complex assertion which uses that method. Since the whole Assertion class uses it, I don't think it's hard to find one custom use case. Any case, you want to do something with strings.

[2015-07-20 15:43] webmozart commented on #78
@mdavis1982 as far as I see, the problem is that this would break backwards compatibility of the library. You can find a very similar library where this and some other small issues are fixed here though: https://github.com/webmozart/assert

[2015-07-20 15:46] mdavis1982 commented on #78
@webmozart Of course. This could be fixed and tagged as a different version though? I'd like to contribute to the library to fix issues such as these (I'm going through all of the issues now). Do you think you could possibly contribute some of your other assertions to this library?

[2015-07-20 15:48] mdavis1982 commented on #85
I think we need to refer this back to @beberlei - but I'm not sure if changing it would have any other implications.

[2015-07-20 15:55] webmozart commented on #78
@mdavis1982 That's what I tried, but @beberlei said he didn't want to make breaking changes.

[2015-07-31 09:16] bweston92 opened #111 "Valid e-mail address considered not valid."
`Assertion::email('root@localhost');` throws exception yet is totally valid.

[2015-08-11 12:52] thewilkybarkid commented on #108
See #104. I updated 'blank' rather than 'empty' as the latter is using PHP's meaning of empty.

[2015-08-13 06:15] Lexty commented on #102
Here you are.

[2015-08-21 10:21] mdavis1982 opened #113 "No notInArray() Assertion"
There are `not*` assertions for lots of methods, but there isn't one for `notInArray`. I need this assertion for a project I'm working on, and, at the moment, I'm having to do this manually unless there is a better way of doing it.

Would it be possible to add this assertion?

[2015-08-21 11:26] TomasVotruba commented on #113
@mdavis1982 Could you prepare PR?

[2015-08-21 13:34] mdavis1982 commented on #113
@TomasVotruba I can potentially do that over the weekend

[2015-08-21 16:54] beberlei commented on #111
This uses filter_var validate email, nothing we can influence. Also while the email is valid, its a local e-mail, which most validators don't allow because allowing them into a webapp is seldom a good idea.

[2015-08-21 16:54] #111 closed

[2015-08-21 16:54] beberlei commented on #108
Fixed in #104

[2015-08-21 16:54] #108 closed

[2015-08-21 16:56] beberlei commented on #100
Wouldn't know what to change here

[2015-08-21 16:57] #98 closed

[2015-08-21 16:57] beberlei commented on #97
A simple notice about the original code, library name and a link to this repository would suffice.

[2015-08-21 16:58] #94 closed

[2015-08-21 16:58] beberlei commented on #94
I agree with @mdavis1982

[2015-08-21 16:59] beberlei commented on #91
Its free for all :)

[2015-08-21 16:59] beberlei commented on #85
this was done in some PR.

[2015-08-21 16:59] #85 closed

[2015-08-21 17:00] beberlei commented on #78
its not really a breaking change, because we are making the validation less strict. Making it stricter would be a problem though.

[2015-08-24 16:18] #102 closed

[2015-08-25 09:10] bweston92 commented on #111
That's fair enough.

[2015-08-26 12:07] Lexty opened #117 "Need chaining assertions with allow fails."
It may look like

[code]
This chain fails only if both assertions fails.
I know this check can be realize as it described in #83.
[code]
But if we need more assertions next looks better.
[code]
What do you think about it?

[2015-09-07 14:07] maryo opened #121 "Callable message"
I think it could be useful if it was possible to be able to pass a callable message instead of a string because sometimes the message creation can be time consuming. Is it good or bad idea? What do you think?

[2015-09-18 13:53] SpacefulSpecies opened #122 "\Assert\that() method chaining not found"
I use this library for a long time, and never had issues with it in Phpstorm, until now. Not a single method of the AssertionChain gets recognised anymore.

[code]
I might have to redirect this issue to Phpstorm itself, since I'm not sure if I have this problem since a newer version of this library or since the Phpstorm 9 update. But I ask it here first, because the following snippet (which uses t

[2015-09-18 13:56] SpacefulSpecies commented on #122
oh forgot something important to mention: the code works, it's just Phpstorm that starts to complain where it didn't complain before.

[2015-09-22 07:18] AntonStoeckl commented on #122
I have the same issue for quite some time now, I'm always using the EAP versions from PhpStrom.

I'm quite sure the problem is in PhpStorm, not in the Assert Lib.

I got this problem after updateing PhpStrom, the guys in our company not using the EAP version don't have it, and they definitely have the same version of Assert, we do check in our composer.lock

[2015-09-22 18:04] SpacefulSpecies commented on #122
Thanks for the information. Now I tested more (I should have done that before comming here) and it is a PhpStorm bug. I created a ticket: https://youtrack.jetbrains.com/issue/WI-28993

This can be closed now.

[2015-09-22 18:04] #122 closed

[2015-10-23 19:39] KingCrunch commented on #99
Nevermind. Of course the predefined patterns don't need the numeric index. One can still use them (with some little knowledge about the internals of course ;))

[2015-10-23 19:39] #99 closed

[2015-10-26 16:50] maryo opened #124 "Missing null/isNull assertion"
Hi. Is there a reason why there is an assertion `notNull` but `isNull`/`null` assertion is missing? I know `same` can be used instead but it is also possible to use `notSame` instead of notNull. Looks like it's not consistent. But I believe there is a reason behind this. Or not?

[2015-11-02 10:15] ruudk opened #125 "ContainsNot"
I would like to have a new assertion. The opposite of `contains` => `containsNot`.

I can add a PR if you are ok with it.

[2015-12-18 11:25] rodrigotavio91 opened #130 "No assertion Assertion#date exists."
Hi,

I'm trying assert a valid date inside a class, but when I use the method Assertion::date, it throws an exception "No assertion Assertion#date exists." I'm using the "beberlei/assert": "^2.4" in composer.json and using PHP 5.3.

Do you know if is that because of the Assert's version I'm using?

Many thanks.

[2016-01-28 13:29] grobmeier commented on #111
Could you reopen the issue please, just saying Umlaut emails are not valid. Like info@nähwerk.de

[2016-01-28 13:31] bweston92 commented on #111
@grobmeier that is a slightly different issue mine was technically invalid (but valid). Your issue is that filter_var I believe doesn't validate UTF-8 email addresses.

[2016-02-12 10:56] eriwin opened #133 "Assertion::url('http://localhost') not a valid url?"
Is this the expected behaviour?

`Assertion::url('http://localhost'); // AssertionFailedException`

In the UrlValidator from the Symfony Validator Component localhost is accepted:
https://github.com/symfony/validator/blob/aee4547e354dca50b470ef2a84a2e2461a3569ba/Tests/Constraints/UrlValidatorTest.php#L82

Support for localhost was added in this PR: https://github.com/symfony/validator/commit/5e60b

[2016-02-12 12:09] rochapablo opened #134 "Validate Only If"
Is it possible validate the email (for example) only if it is filled?

Like the field is not required, but if populated check if is valid.

I just don't want to do something like:

[code]

[2016-02-19 13:35] danizord opened #136 "Make all assertions return true on success, so that it can be used inside PHP 7 assert()"
[code]

@beberlei what do you think?

[2016-02-19 13:56] gabrielsch commented on #136
good feature, and not bc break. :+1:

[2016-02-23 17:05] paulywebster opened #137 "change boolean to use filter_var instead is_bool"
Hi,

I propose to change the function "boolean" who uses function is_bool by the function filter_var with the filter FILTER_VALIDATE_BOOLEAN who accepts more value than only true or false.

[2016-02-29 10:09] bicpi commented on #57
+1 I'd also like to use my own exception class in a clean way when switching to the fluent interface.

[2016-02-29 20:23] Solinx commented on #57
+1

[2016-03-02 17:27] M1ke commented on #134
Does using `Assertion::nullOrEmail($value)` work for your use case?

[2016-03-02 17:28] M1ke commented on #124
Could it be because `is_null()` is a direct method in PHP and thus it's not worth the effort of potentially auto-loading a library for a wrapper?

[2016-03-03 16:56] rochapablo commented on #134
Unfortunately not because i'm not validating an email field. But now I'm using the "laravel validate".

Thanks anyway.

[2016-03-03 16:56] #134 closed

[2016-03-04 11:32] schlessera opened #138 "Functions file causes collisions if package is used more than once"
The `functions.php` file is pulled in throught the Composer autoloader `file` mechanism: https://github.com/beberlei/assert/blob/master/composer.json#L20

If this package is used more than once in one PHP session (my use case is several WordPress plugins including it), this causes a fatal error:

[code]

I know that Composer should be used at the site level, not multiple times in one site. However

[2016-03-04 13:34] schlessera commented on #138
Sorry for the spam in here, didn't realize that GitHub would pull in my change logs... :)

[2016-03-08 15:09] rquadling commented on #130
It seems as if we need a release. Master has this feature.

[2016-03-09 09:41] rquadling commented on #102
Can this be released/tagged please?

[2016-03-18 11:12] rquadling commented on #130
Use ``"beberlei/assert": "dev-master",`` instead.

[2016-03-18 11:14] rquadling opened #140 "Tag/release required"
Hi.

Please can you tag/release master. The Date assertion is very useful and including a frozen version is so much nicer than shipping master.

If you are unable to continue maintenance, then I'm happy to take over.

[2016-03-22 14:17] #138 closed

[2016-03-22 14:36] #97 closed

[2016-03-22 14:37] beberlei commented on #140
done

[2016-03-22 14:37] #140 closed

[2016-04-11 11:53] mirfilip opened #143 "Testing if an array is associative with all keys string"
Hi,
is there a way of testing if an array is associative with all the keys being a (non-empty) string? There are methods like `keyIsset` or `keyExists` but they need `$key`.

[2016-04-11 12:19] localheinz commented on #143
@mirfilip

How about using

[code]

[2016-04-11 12:50] mirfilip commented on #143
@localheinz Awesome, I was feeling I had been missing sth obvious...

Anyway, for true "array that has non empty strings as keys" I'd use lazy assertion chaining:
[code]
or simply two assertions
[code]

Thx!

[2016-04-11 12:50] #143 closed

[2016-04-18 13:53] iainmckay opened #144 "Using assertions in annotations"
We've started using the library in our domain and it's great. We use a lot of transfer objects which have their own validation and tehre is a large overlap, however it is not as extensive as this library.

Our existing framework for validating transfer objects uses annotations.

Is there a recommended way to do this?  Would you accept a PR or would it be better suited to a separate project entirel

[2016-04-18 13:56] stof commented on #144
IMO, this is not in the scope of this library.
Your annotation-based validation system could rely on the assert library internally though, to reuse the assertion.

[2016-04-18 13:58] iainmckay commented on #144
Yes, that was my feeling also. Does this functionality exist elsewhere?

[2016-04-18 14:00] stof commented on #144
Well, I can tell you about https://github.com/symfony/validator (not based on the assert library), which can be configured through annotations (among other ways).
Zend Framework also has a validator, and probably lots of other frameworks too.

[2016-04-18 14:05] iainmckay commented on #144
We use the symfony constraints at the moment but they're not as extensive as this library and we'd like to reuse our custom assertions. Google-ing(?) turned up nothing regarding projects wrapping this one in annotations.

It doesn't seem to be a huge undertaking but we'd rather build on an existing project. We'll look at implementing this ourselves.

Thanks for the responses.

[2016-04-18 14:05] #144 closed

[2016-04-20 14:58] iainmckay opened #145 "Integration with the Symfony Validator component"
Hi guys, we wanted to be able to use the assertion library as constraints in the Symfony Validator and couldn't find anything to support this so we wrote our own. It's really just a generate that generates constraint classes and a wrapper to make them work in the validator component.

I thought you might be interested and we'd love some feedback.

https://github.com/MySchoolManagement/assert-const

[2016-05-03 15:44] stof commented on #137
that would be a different assertion though IMO

[2016-05-03 15:45] stof commented on #136
this looks good to me indeed

[2016-05-15 12:34] jdreesen commented on #137
See #89.

[2016-06-09 11:52] gries commented on #57
:+1:

[2016-06-20 12:05] rquadling commented on #130
date assertion released, with doc blocks updated for IDE's static analysis.

[2016-06-20 12:05] #130 closed

[2016-07-21 11:41] tetrode opened #153 "extending assert: possible to use lazy assertions?"
Hi

I'm trying to extend the assert class which I got to work.
When I want to use this with the \Assert\lazy() it does not work.

Can you please assist me?

Thanks

Mark

[2016-07-21 17:05] rquadling commented on #153
Hi.

`\Assert\LazyAssertion` uses `\Assert\AssertionChain` which is hard coded to use `\Assert\Assertion`.

I think a mechanism similar to `\Assert\Assertion::$exceptionClass` would be required.

I'm looking at this now.

[2016-07-21 18:15] rquadling commented on #153
I've created a first guess at this. It is pretty rough. And I don't think it would be the right way to go.

But take a look.

The branch is https://github.com/beberlei/assert/tree/extending_assert

With that branch, here are the extended classes. The extension is to verify that the string is 'Wednesday'.

[code]

Some bootstrapping is needed (as everything is static)
[code]

And, finally, some ass

[2016-07-22 12:29] StanAngeloff opened #154 "\Assert\that($object)->methodExists(…) does not pass the correct method parameters"
The `methodExists` (and possibly others) are not chained correctly when used with `\Assert\that(…)`:

[code]

[2016-07-25 12:43] rquadling commented on #154
Confirmed:

The order of the first 2 parameters from the chained invocation is the wrong way around.

Will affect all assertions with more than 1 parameter involved in the assertion (ignoring the `$message` and `$propertyPath` parameters).

Will look into this now.

[2016-07-25 13:02] #154 closed

[2016-07-25 14:04] StanAngeloff commented on #154
By design?

[2016-07-25 20:12] rquadling commented on #154
[code]

This has been like this since inception https://github.com/beberlei/assert/pull/62. I have no further information (only recently joined the project).

I think changing the order at this stage wouldn't be possible due to BC. MAYBE in a version change so the order matched `method_exists()`.

But both Assertion and LazyAssertion follow the same parameter order, so your code would be
[code]

[2016-07-25 20:14] rquadling commented on #154
Potentially ( just thinking out loud ), removing `method_exists` and replacing it with `objectHasMethod` _MAY_ be cleaner.

At this point in time though, I don't think there are plans to do anything on this.

[2016-07-26 13:06] rquadling commented on #121
Can you give some examples where you would use this?

[2016-07-26 13:12] rquadling commented on #136
Care to make a pull request? If it is non breaking, then will be easier to add.

[2016-07-28 06:34] raphaelstolt opened #160 "Add PHP Coding Standards Fixer"
Add  [PHP Coding Standards Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) and it's configuration.

[2016-07-28 06:35] raphaelstolt opened #161 "Run PHP Coding Standards Fixer against current code base"
Make code base [PSR-2](http://www.php-fig.org/psr/psr-2/) compatible.

[2016-08-10 23:01] dosten opened #164 "Add null assertion"
Hi!

Well, not much to say, `notNull` actually exists, so why not `null`? I know that I can use `empty` but also works with empty strings, arrays, etc.

[2016-08-10 23:03] dosten commented on #164
Oops! Duplicated of #124

[2016-08-10 23:03] #164 closed

[2016-08-10 23:04] dosten commented on #124
:+1: I need the `null` assertion, @rquadling what do you think? I can create a PR.

[2016-08-11 01:17] rquadling commented on #124
Create it. I'll review it. Make sure you read the CONTRIBUTING.md. You'll also need to deal with the oddity that will be NullOrNull. But as there is notNull, and by extension NullOrNotNull, I guess we can live with the automatic ones until there's a rewrite.

[2016-08-11 03:35] redthor opened #166 "LazyAssertionException does not implement AssertionFailedException interface"
Thanks for the library!

Is there any reason that `Assert\LazyAssertionException` does not extend `Assert\InvalidArgumentException` and therefore does not implement `Assert\AssertionFailedException`?

It'd be good to catch all exceptions from `\Assert`

[2016-08-11 13:15] rquadling commented on #166
Lazy assertion is, in essence, a collection of assertion exceptions.

You can use `\Assert\LazyAssertionException::fromErrors()` to get the assertion errors whilst in a `catch(LazyAssertionException $ex){}`

[2016-08-11 13:16] rquadling commented on #166
Having said that, if you want to implement the appropriate interface within `\Assert\LazyAssertionException`, make a pull request and we will review it.

[2016-08-12 01:35] redthor commented on #166
There's an option to accomplish what I was after here: https://github.com/beberlei/assert/pull/167

[2016-08-29 10:10] akomm opened #168 "[question] Unused property $propertyPath"
Any assertion I'v used so far, that has the `$propertyPath` argument, ignores it when executing the test. The path is only passed as argument when generating an exception. It is not even a part of the generated message, so you would only see it when you inspect the exception object via debug or manual property access & output.

Is it something used internally, when an assertion is composed of mult

[2016-08-29 10:22] akomm commented on #168
Okay, it is just info when using lazyAssertion, somehow overlooked it when going through readme and was sure it was not part of it.

[2016-08-29 10:22] #168 closed

[2016-09-06 08:32] holtkamp opened #171 "Add 'between'?"
While writing this:

[code]

made me looking for a ```between``` function:

[code]

Seems useful... Or has it been considered and purposly not adopted? Would a PR be considered?

[2016-09-28 17:28] rquadling commented on #171
Absolutely a PR would be considered.

Please read the [CONTRIBUTING.md](https://github.com/beberlei/assert/blob/master/CONTRIBUTING.md) guide first.

Thank you.

[2016-09-28 17:43] rquadling commented on #145
Hi.

There are VERY few devs of this package (me) and so that's probably why no feedback.

I'm cleaning up issues and PRs and see no need to keep this issue open any more.

There are more assertions in master (and soon to be released), so you may want to update your package with that. Maybe as part of a composer post-install script to run your generator, thereby not actually needing to hold onto t

[2016-09-28 17:43] #145 closed

[2016-09-28 17:45] rquadling commented on #124
Once the small change is done, this issue can be closed.

[2016-09-28 17:46] rquadling commented on #87
See https://github.com/beberlei/assert/pull/126

Waiting on rebase.

[2016-10-03 10:38] #124 closed

[2016-10-03 10:39] rquadling commented on #87
Done.

[2016-10-03 10:39] #87 closed

[2016-10-03 18:12] rquadling commented on #133
Please do a PR. I'll review it and release it as soon as it is ready.

[2016-10-04 13:04] localheinz commented on #171
@holtkamp

Maybe worth considering an argument that allows to exclude the borders?

Or should we have a separate assertion?

[code]

[2016-10-05 09:08] holtkamp commented on #171
@localheinz good one, haven't got time to work on this though 😞

[2016-10-05 15:20] holtkamp commented on #171
https://github.com/beberlei/assert/pull/179

"wow, that escalated quickly!" Awesome @localheinz!

[2016-10-05 15:20] #171 closed

[2016-10-05 16:58] rquadling commented on #161
Done

[2016-10-05 16:58] #161 closed

[2016-10-05 22:17] rquadling commented on #133
Fixed with https://github.com/beberlei/assert/commit/28fb4f61133f0225558dc490f51cda3f4a430485

[2016-10-05 22:17] #133 closed

[2016-10-05 22:18] #160 closed

[2016-10-05 23:03] rquadling commented on #171
Sometimes we don't wait around.

[2016-10-18 09:35] acgrid commented on #57
It headaches me too.
I forked it with my implementation here https://github.com/acgrid/assert which everything can be inherited and work with each other.
The significant issue to me is helper functions, I added two getter/setter functions to provide an interface to access which class to be used.
To make it production usable, I made the fork namespaced (avoid possible collusion with another compose

[2016-10-21 11:03] TrogWarZ commented on #59
Really need it

[2016-10-21 11:54] dzentota commented on #59
It is still opened in Symfony https://github.com/symfony/symfony/issues/10467

[2016-10-31 11:10] #136 closed

[2016-11-15 14:08] tacovandenbroek commented on #57
This issue should be solved as of release 2.6.7

[2016-12-02 18:22] rquadling commented on #166
Fixed in the next release.

[2016-12-02 18:22] #166 closed

[2016-12-02 18:23] rquadling commented on #153
Implementing your own exception classes, as well as extending the assert library is now fully supported in the next release (2.6.8 I think - being released in a short while).

[2016-12-02 18:23] #153 closed

[2016-12-02 18:24] #57 closed

[2016-12-02 18:26] rquadling commented on #59
As you are now able to extend the Assert library and the lack of movement on this issue in Symfony (yes - we are following symfony on this one), I'm closing this issue until as such time Symfony changes it's validation.

[2016-12-02 18:27] #59 closed

[2016-12-08 14:01] rquadling opened #197 "Allow Scrutinizer access to repo."
Hi @beberlei,

I'd like to get code coverage analysis incorporated into the README.md display via a badge.

I currently use Scrutinizer for this. It requires access to the repo though (like Travis would do).

Can you grant access please?

If you don't, would you be willing to transfer ownership of the project to me?

Regards,

Richard.

[2016-12-30 10:42] holtkamp opened #200 "Emailaddress containing exclamation mark considered valid"
After receiving some errors from Amazon SES while trying to deliver an email to ```user!@domain.ext```, I noticed that:

[code]
does not throw any exception.

I know
[code]
is used internally, which [refers](http://php.net/manual/en/filter.filters.validate.php) to RFC 822. Some Googling brought me here:

http://www.tldp.org/LDP/nag/node189.html

Not sure I understand this completely, but might it

[2016-12-30 17:07] rquadling commented on #200
An exclamation mark is, surprisingly, perfectly valid as far as the definition of an email address is concerned. Whether or not an ISP or email provider will allow one is a different story.

As far as the validation is concerned, the code is correct if it says an email address with exclamation mark is present and passes assertion.

Something to keep in mind is that an email address has no guarante

[2016-12-30 17:07] #200 closed

[2016-12-30 17:09] rquadling commented on #200
Just so you can see how insane email addresses COULD be ... https://en.wikipedia.org/wiki/Email_address#Examples

[2016-12-30 22:14] holtkamp commented on #200
Thanks for the useful explanation, I like the "+SomeRandomLabel" thingie!

Both Google and Amazon SES do not allow the exclamation mark though, will add some "own" validations then 😕

[2017-01-02 13:24] rquadling commented on #200
That's the problem. Different providers will support what they want.

[2017-01-24 10:08] manuxi opened #206 "Resource and integerish"
Please try Assertion::integerish(fopen(__FILE__, 'r')); Works but should not.

[2017-01-24 15:04] rquadling commented on #206
Well, PHP's type juggling of a resource to non zero...

`php -r 'var_dump(fopen("./index.php","r"));'` : `resource(5) of type (stream)`
`php -r 'var_dump((int)fopen("./index.php","r"));'` : `int(5)`

So, the resource number is integer-ish ...

Interesting issue. I wonder how many people are asserting that resources are integer-ish and are happy with it.

[2017-01-24 15:22] rquadling commented on #206
Thank you for the report. Fixed in https://github.com/beberlei/assert/releases/tag/v2.7.3

[2017-01-24 15:22] #206 closed

[2017-01-24 16:20] manuxi commented on #206
Wow, that was fast  ;)
Thank you!

[2017-03-08 03:47] rquadling commented on #121
Please take a look at https://github.com/beberlei/assert#customised-exception-messages.

Hopefully this covers what you are asking for.

[2017-04-11 07:42] Slamdunk opened #221 "Inconsistent LICENSE"
1. [composer.json](https://github.com/beberlei/assert/blob/v2.7.4/composer.json#L16) assert a BSD-2-Clause
1. [All files](https://github.com/beberlei/assert/blob/v2.7.4/lib/Assert/Assertion.php#L8) assert a MIT license
1. [All files](https://github.com/beberlei/assert/blob/v2.7.4/lib/Assert/Assertion.php#L9) assert a LICENSE.txt file
1. [LICENSE](https://github.com/beberlei/assert/blob/v2.7.4/LICE

[2017-04-11 09:29] rquadling commented on #221
I'm not the project owner, but I am one of the contributors.

My **personal** opinion on licensing is that it is beyond pointless. I am in no way able to react to, be aware of or request compensation for any infringements of the license.

If common sense and fair play isn't enough to guide someone on using this software, then I'd prefer they didn't use it and thereby reduce any exposure to frivolo

[2017-04-11 11:11] localheinz commented on #221
Also take a look at [`.php_cs`](https://github.com/beberlei/assert/blob/master/.php_cs).

[2017-04-11 13:18] rquadling commented on #221
As the copyright and rights are all owned by @beberlei, it will be up to him to decide upon the licensing.

[2017-04-23 10:11] romaninsh opened #224 "EQ argument meaning swapped"
I really enjoying your library, great replacement for PHPUnit, but there is one incompatibility.

phpunit:
eq(expected, actual).

assert:
eq(actual, expected).

It's more common for methods to have "defining" arguments first. Consider this example:

eq(10, $var);

can also be written as

eq10($var);

This is why I think this swap should be made, (not because phpunit)

To fix arguments here should

[2017-04-23 10:15] romaninsh opened #225 "localization question"
Just curious, what is the best way to localize this method:

https://github.com/beberlei/assert/blob/master/lib/Assert/Assertion.php#L2558

[2017-04-23 21:28] rquadling commented on #224
Both `eq()` and `same()`, as well as their negative counterparts `notEq()` and `notSame()` all have the the same structure of 'actual' vs 'expected'.

I'm unsure what value there would be in amending the message when things are consistent within this library.

In addition, with lazy assertions, the first value can be passed through several assertions, making the first value the 'actual'.

[2017-04-23 21:38] rquadling commented on #225
You can override the method in your own subclass, or you can provide a callback with each assertion.

But it would probably be better to provide your own Exception class that will generate an appropriate message based upon the exception code.

[2017-05-02 09:43] romaninsh commented on #224
Although I think that having "expected" as a first argument is more sensible, I respect your choice and the importance to be consistent with lazy assertions.

[2017-05-02 09:47] romaninsh commented on #225
This wouldn't work with default messages though:

https://github.com/beberlei/assert/blob/master/lib/Assert/Assertion.php#L2543

[code]

while something like this would work:

[code]

any ideas?

[2017-05-02 23:39] #224 closed

[2017-05-02 23:40] rquadling commented on #225
If you'd care to make a PR, along with some unit tests demonstrating the localisation, then I'd be happy to review and merge.

[2017-05-03 14:02] bicpi opened #226 "BC break in 2.7.4: stringify() method suddenly returns different result for booleans"
Changing the `stringify()` method in https://github.com/beberlei/assert/commit/70c865382bddeff1686738ba2c86fae2e50cbc30#diff-4066b84b483f6098378f612ecc64f381 introduced a BC break that broke my unit tests.

Stringifying a boolean results in `1` instead of `<TRUE>` as before because the early returns were removed. `<TRUE>` is correctly assigned as a result first, but then overwritten by the `is_sca

[2017-05-04 01:54] #226 closed

[2017-05-04 02:02] rquadling commented on #226
Just waiting on Travis to confirm all is well before a release.

Thank you for reporting this.

[2017-05-04 02:05] rquadling commented on #226
https://github.com/beberlei/assert/releases/tag/v2.7.6 released.

[2017-05-04 06:54] bicpi commented on #226
@rquadling Thanks for fixing this so fast 👍

[2017-05-04 06:59] bicpi commented on #226
Btw, what was bad with the early returns, isn't this a best-practice? More readable, less brittle, faster.

[2017-05-04 09:18] rquadling commented on #226
Normally early exits are for error states.

A single return point makes more sense to me as the result is not an error.

[2017-05-04 18:53] bicpi commented on #226
Error states? I think returns in object methods are there to return ... the return value :-) It's not the return value of a CLI command.

The earlier one can return the better, it avoids unnecessary nesting, hard to read else conditions etc.

Checkout http://williamdurand.fr/2013/06/03/object-calisthenics, nice read.

[2017-08-11 17:25] rquadling commented on #121
No feedback. Closing.

[2017-08-11 17:25] #121 closed

[2017-09-07 10:09] twify93 opened #231 "subclassOf() of assertion doesn't checks for class existence"
Is there a reason why the `subclassOf()` doesn't check if the passed `$className` exists or not?

I've just checked in PHP documentation, they also don't check that(tested with code) and btw it's not clear if PHP checks it or not in the documetation.

[2017-09-07 12:07] rquadling commented on #231
The intent of the assertion is to determine if there is an appropriate extends. If the class cannot be found (either because the class is already known, or via autoloading), then whilst it may be inappropriate, it does deny the fact that class A can extend class B and therefore A is a subclass of B. It just means no one has a clue what a B is, but A sure does extend from it!

[2017-09-07 12:07] rquadling commented on #231
Consider also that is_subclass_of() will use an autoloader if there is one present, class_exists() would seem redundant.

[2017-09-07 12:07] #231 closed

[2017-10-10 19:41] shadowhand opened #233 "Restore factory functions"
The factory functions removed in #184 were helpful in that they provided the same fluent interface with less code. I would like to propose that the following functions be restored as aliases (or perhaps a facade) to the static `Assert::` methods:

[code]

I see no reason to have `thatAll` or `thatNullOr` be included, since they are just shortcuts to existing functionality.

[2017-10-19 02:44] texdc commented on #233
I agree. I don't have support for `lazy`, yet.  But, I've put together a few extra assertions and (not to step on `assert`'s toes) a `verify` factory function.  See [texdc/guard](https://github.com/texdc/guard).

[2017-10-19 14:40] rquadling commented on #233
Hmm, I thought all we did was namespace them. They should operate in exactly the same way.

The advantage is that the static methods are now autoloaded and so don't need any additional logic.

Composer doesn't allow a library to declare a file to be automatically included. If it did, then the aliases could be defined in that class and no need to manually include them.

I'm not convinced that an au

[2017-10-19 15:06] shadowhand commented on #233
What about the `files` portion of `autoload`? https://getcomposer.org/doc/04-schema.md#files

[2017-10-19 21:22] rquadling commented on #233
The user still needs to add the entry. If you add an entry there for this package, it doesn't travel to the user's setup. Or. At least used to. Looking for the documentation on that.

[2017-10-19 21:29] rquadling commented on #233
Which I can't find. Hmm. Will need to test this.

[2017-10-20 01:43] shadowhand commented on #233
I'm quite positive that `files` entries are autoloaded the same as classes, aka automatically included. [`equip/assist`](https://github.com/equip/assist/blob/24ad23dd3978966780762889a621381ee01c7bce/composer.json#L24-L25) does it.

[2017-10-20 09:27] rquadling commented on #233
Yep! So of course it does! Total brainfart!! Polyfills use this technique all the time! Make a PR.

[2017-10-20 11:47] vaequitas opened #235 "Integerish failing on array"
`Assertion::integerish([])` fails due to Array to String conversion and therefore does not throw the expected exception.

The change from  `\strval(\intval($value)) != \strval($value)` to  `\strval(\intval($value)) !== \strval($value)` in 2.7.7 seems to be causing this issue.

[2017-10-20 15:54] rquadling commented on #235
Thank you for reporting this.

A fix is in the works and should be released shortly.

[2017-10-20 15:55] rquadling commented on #233
Hmmm. https://github.com/beberlei/assert/blob/master/composer.json#L38 Seems we already support this. So is the issue solvable just by removing the `@deprecated` notices?

[2017-10-20 16:00] #235 closed

[2017-10-26 13:31] shadowhand commented on #138
I disagree with this change, as this is not a failure in this package or in composer. The problem only exists when someone uses `require 'vendor/autoload.php'` instead of using `require_once`. This lowers the performance (a minuscule amount, I know) of every single request.

[2017-10-26 13:39] shadowhand commented on #138
Which is to say, the problem should have been resolved by submitting patches to the offending WP plugins, instead of brute forcing a solution in this package.

[2017-10-26 14:14] schlessera commented on #138
@shadowhand The problem is not due to WP plugins. This problem exists any time you have an app/framework that doesn't use Composer at the root level, and you still want to use Composer for whatever extension mechanism it uses. It is a limitation of PHP (that cannot autoload functions, only class-like elements), and the above patch just makes sure the `assert` library can still be used in such scen

[2017-10-26 14:18] schlessera commented on #138
Ah, btw, just wanted to state that `require_once` will not fix the above issue in many cases, as it does not work on basis of the class to load, but rather on the filepath to retrieve the class from. If you `require_once` the same file from two different locations, both will be loaded.

[2017-10-26 18:11] shadowhand commented on #138
That's an incorrect statement. `require_once` is meant to solve exactly that problem: it keeps a list of loaded files and does not include them more than once per request.

[2017-10-27 06:11] schlessera commented on #138
Yes, but it checks this by compraing the (normalized) absolute path). If you require the same file from two different locations on your filesystem/Phar/stream, `require_once` will not notice that these are the same.

That being said, Composer does not use `require_once`, but rather a standard `require` in its `"files"` autoloader: https://github.com/composer/composer/blob/master/src/Composer/Autol

[2017-10-27 13:08] shadowhand commented on #138
I still don't understand the problem. Is this a problem with trying to combine composer and manual file loading?

[2017-10-27 13:21] schlessera commented on #138
The problem is that, as soon as you use "procedural code" with Composer, it uses the `"files"` hack to simulate autoloading. However, this is no real autoloading (as it is not supported by PHP), so it behaves differently than normal autoloading.

And whereas you can freely combine Composer autoloaders and other autoloaders in whatever layouts and hierarchies as you see fit in a legacy application

[2017-10-27 13:24] shadowhand commented on #138
Still not making sense. If you're using composer everywhere, and you always use `require_once __DIR__ . '/some/path/to/autoload.php';` will anything break? I can't see why it would.

[2017-10-27 13:30] schlessera commented on #138
I'm specifically talking about use cases where you cannot use Composer everywhere. WordPress is one such example, but it's far from the only legacy PHP system out there that does not use Composer itself but can be extended.

As I said, if you're working under ideal conditions and just bootstrap your entire app/site from one `composer.json` file, this is a non-issue. But in that case, the above saf

[2017-10-27 16:33] rquadling commented on #138
The !function_exists() is surely a requirement to stop attempting to duplicate the loading of functions for anyone using a polyfill. Every polyfill I've seen uses the same pattern.

[2017-10-27 16:34] shadowhand commented on #138
Assert is not a polyfill, it doesn't define anything in the global namespace.

[2017-10-27 16:50] rquadling commented on #138
Hmm. True.

[2017-11-13 17:34] rquadling commented on #233
How do you use the functional constructors with a subclass of Assertion?

[2017-11-14 18:46] shadowhand commented on #233
@rquadling you wouldn't use the functional constructors with a subclass, you would use your own.

[2017-11-15 09:42] rquadling commented on #233
I'm not sure what we are solving by re-introducing the functional constructors over static method constructors?

[2017-11-15 15:11] shadowhand commented on #233
Personal preference. Less code to type:

[code]

[2017-11-15 15:35] rquadling commented on #233
I'd be happy with namespaced `Assert\that()` but polluting the global namespace always feels wrong. But if we have `Assert\that()`, then there's not much of a leap to `Assert::that()`.

[2017-11-16 18:30] shadowhand commented on #233
@rquadling the PR attached to this issue uses a namespaced function.

[2017-11-20 12:59] rquadling commented on #233
If you can add some verbiage to the README.md regarding what to do if you've subclassed assertion and want to use `that()`, etc., then I'll add this. As this is a removal of deprecation, it is a patch level change in my mind.

[2017-11-22 15:45] mleczakm opened #240 "Integerish empty string - BC between 2.7.10 and 2.7.11"
Up to version 2.7.10 empty string ('') wasn't integerish - but since 2.7.11 it is valid integerish. Is it bug or considered change of assertion?

[2017-11-22 17:28] martinepic opened #241 "Doubt LazyAssertion"
I have an application that has several entities, each entity, has a validation, I need to capture the errors of all entities, how can I proceed?

[2017-11-22 17:58] martinepic commented on #241
If in class LazyAssertion has 2 methods: hasErrors(): bool and getErrors(), would help too much.

[2017-11-22 18:49] #241 closed

[2017-11-27 13:28] AndyGibsonProtectline opened #242 "'Array Has At Least One Matching Entry'"
Hi!

Many apologies if I'm doing something really wrong.

I am trying to use Assert with Behat/MInk and I often end up trying to do something like the following:
Given a parent with these properties
When I add a child with name 'Jo' and age 21
And I view details of the parent
Then I should see a child called 'Jo' aged 21

I then end up looping through a list of details and trying to see if any of

[2017-11-28 13:06] ErikRoelofs opened #243 "Integerish - exception message does not match behavior"
When a number fails the assertion for being "Integerish", the message received is:

 Value "%s" is not an integer or a number castable to integer.

However, numbers with padded zeroes (such as "0040") _are_ castable to integers, but _don't_ pass this assertion. I do not know whether this is a problem with the function's behavior, or whether the message could be more accurate, but it was confusing

[2017-11-30 11:30] rquadling commented on #241
LazyAssertion::verifyNow() throws an exception with all the errors, so use a try/catch around that and you've got your errors. If LazyAssertion::verifyNow() returns true, then you have no errors.

The assertion library uses true or throws an Exception.

[2017-11-30 11:33] rquadling commented on #243
The intergerish assertion is misbehaving at the moment. Sorry about that. Looking at trying to get it right today.

[2017-11-30 11:54] #240 closed

[2017-11-30 11:55] #243 closed

[2017-11-30 12:03] rquadling commented on #242
You can easily subclass the `\Assert\Assertion` and add your own assertions and/or exception class.

See  https://github.com/beberlei/assert#your-own-assertion-class and https://github.com/beberlei/assert#exception--error-handling.

If you need more help or info, please ask.

For a value checker, `\Assert\Assertion::choice()` or `\Assert\Assertion::inArray()` both exist.

But I think `\Assert\Asse

[2017-11-30 12:04] rquadling commented on #233
Merging today.

[2017-11-30 12:37] AndyGibsonProtectline commented on #242
OK, thank you. I'll do this myself, then.
Thanks for your help!

[2017-11-30 12:37] #242 closed

[2017-11-30 12:38] #233 closed

[2017-12-04 13:50] shadowhand commented on #233
@rquadling was going to follow up on this today (busy couple of weeks) and saw that you already merged it. Do you want me to open another PR to add notes about subclassing with functional constructors?

[2017-12-05 21:59] rquadling commented on #233
A new PR would be easier.

[2018-02-16 18:02] maryo opened #246 "inArray / notInArray strict equality inconsistency"
`inArray` is an alias for `choice`. It passes `true` as third aragument of in_array.
On the other hand, `notInArray` does not use the third argument when calling `in_array` (=`false`). Is this intentional?

[2018-02-16 21:53] rquadling commented on #113
@mdavis1982 - could you comment on https://github.com/beberlei/assert/issues/246.

I'm happy to make `notInArray` work the same as `inArray`, but if there was any reasons to not use strict comparison, then that would be useful to know.

[2018-02-16 21:55] rquadling commented on #246
`notInArray` was initial drafted back in July 2016. I've asked the original author of the assertion to see if they have any opinion. As things stand, I suspect it was just an oversight.

Unless there's any specific feedback, I'll make both use strict comparison and release that next week.

[2018-02-16 22:53] mdavis1982 commented on #246
This wasn't intentional 😄 Definitely just an oversight!

[2018-02-16 22:58] TomasVotruba commented on #246
:+1:

[2018-02-16 23:38] maryo commented on #246
@rquadling I've actually noticed it when I needed loose comparison :-). I know loose comparison is not as usual but if both `inArray` and `choice` do exactly the same then there is no loose assertion available. Maybe it's OK. Maybe there could be something like `looseInArray` to make it explicit.

[2018-02-17 00:16] rquadling commented on #113
My preference would be strict.

[2018-03-16 10:04] yoannblot opened #247 "When a Count assert fails, it does not explain exactly the issue"
When calling a _Assert::count()_ method, we don't know why it's not equals.

Proposal is to add the calculated count in the message text :

[2018-03-16 17:51] rquadling commented on #247
## 2.9.3 - 2018-03-16

### Changes
- Expand error for `\Assert\Assertion::count()` to include the supplied count (Thanks to [Yoann Blot](https://github.com/beberlei/assert/issues/247))

[2018-03-16 17:51] #247 closed

[2018-03-21 09:04] fracz opened #249 "Rename noContent to isEmpty? Or at least alias it?"
I have noticed the `noContent` assertion  when I was about to submit a PR with an `isEmpty` implementation.

Why the asserion is called `noContent`? It does the opposite from `notEmpty` and IMO the clearest name for this check is `isEmpty`.

[2018-03-21 12:15] rquadling commented on #249
To preserve backward compatibility, an alias would be needed.

Happy to look at a PR for this.

[2018-04-15 11:42] koutsoumposval opened #251 "@aliasOf annotation error"
@aliaOf annotation in inArray method causing the failing error

`Doctrine\Common\Annotations\AnnotationException: [Semantical Error] The annotation "@aliasOf" in method Assert\Assertion::inArray() was never imported. Did you maybe forget to add a "use" statement for this annotation?`

Removing the annotation seems to work. Should we remove it? Is there another workaround?

[2018-04-15 11:48] koutsoumposval opened #252 "Array with unique items assertion"
I have created a custom `uniqueArrayValues` assertion. It asserts that all values of an one dimensional array are unique. Do you think it will be useful in order to create a Pull Request?

[2018-04-15 17:49] rquadling commented on #251
What is generating the error you are seeing?

[2018-04-15 18:25] koutsoumposval commented on #251
As far as I can debug it, it seems to be caused from this guy:
`vendor/doctrine/annotations/lib/Doctrine/Common/Annotations/DocParser.php in Annotations at line 663`
so it is not exactly an error but an incompatibility with Doctrine DocParser.

The initial command that triggers this error is `bin console translation:extract` (JMSTranslationBundle). I don't think that is relevant to this, I think d

[2018-04-15 20:29] rquadling commented on #251
I'm using PhpStorm 2018.1.1. No complaint with `@aliasof`.

A couple of suggestions.

1. Change to `     * @aliasOf \Assert\Assertion::choice()`
2. Remove the `@aliasof` completely but make sure there's an `@see`.

[2018-04-15 20:37] koutsoumposval commented on #251
I think no 2 is the actual fix. I can confirm that it solves the problem.
A `@see` already exists.

[2018-04-16 09:45] rquadling commented on #251
We use `@aliasof` in our documentation generation, so if it can stay, then that would be good. If not, the PR would need to amend `bin/generate_method_docs.php` accordingly.

[2018-04-16 09:52] koutsoumposval commented on #251
`@aliasOf \Assert\Assertion::choice()` doesn't seem to solve the problem. I already tried it. I will look into and amend `bin/generate_method_docs.php` accordingly.
If anyone has a workaround I would be very happy to hear.

[2018-04-16 11:15] rquadling commented on #251
Thank you.

[2018-04-16 11:15] #251 closed

[2018-06-11 08:56] pkruithof opened #254 "Exception constraints consistency"
I've noticed that not all assertions pass their constraints to the exception, for instance:

`eq` has the expected value passed to the exception:

https://github.com/beberlei/assert/blob/c07fe163d6a3b3e4b1275981ec004397954afa89/lib/Assert/Assertion.php#L305-L313

`greaterThan` on the other hand, has not:

https://github.com/beberlei/assert/blob/c07fe163d6a3b3e4b1275981ec004397954afa89/lib/Assert/A

[2018-06-11 10:16] rquadling commented on #254
Happy to accept a PR to make things consistent.

[2018-06-11 17:08] #254 closed

[2018-06-13 12:32] paulywebster commented on #137
fixed with booleanish assertion

[2018-06-13 12:32] #137 closed

[2018-07-04 10:16] clement-michelet opened #257 "Assert that it verifies a list of assertion"
**Use case :**

I have multiple configurations which define the list of constraints on a password (length, chars, etc.).
I want to generate the list of assertions to check on a service depending the configuration.
The generated list will be added to an assertion which contains other static assertions.

e.g (quick & dirty):

[code]

**How to do it ?**

I could pass the assertion as an argument of m

[2018-07-04 13:48] rquadling commented on #257
Not without some complicated mechanism that I can't think of at the moment.

Injecting the form values into the assertion builder is the only way I think you can do this.

Lazy assertion isn't that lazy. It is lazy in as far as you don't get the failures immediately and have to call `verifyNow()` to get result.

That's the answer.

Below is some idle thoughts/ideas/suggestions. Take them or leave

[2018-07-05 09:21] clement-michelet commented on #257
Thanks for the feedback.

I see your point for the generator. I can't generate static validator for the moment because those configurations are persisted in database and the validator depends on what is selected in a form (e.g. an user is related to a set of password rules). It would require to generate static code on configuration change which is a bit cumbersome for the type of application (rest

[2018-07-05 09:21] #257 closed

[2018-07-18 09:59] rskuipers opened #258 "notEq message can be confusing regarding expected value"
First of all, thank you for this library 👍.

I noticed that when using `notEq` I was getting a message which may be consistent with the rest but reads very odd in an error.

[code]

When reading this it looks like I'm expecting to get `foobar` as a value, but the opposite is true.
Is this something we should change or is there other reasoning behind this?

I'd be happy to make a PR.

[2018-07-18 10:09] rquadling commented on #258
That does look wrong. A PR would be good. If you fancy, review the rest of the messages too.

[2018-07-18 10:36] rskuipers commented on #258
@rquadling Will do :+1:

[2018-07-28 19:39] unkind opened #260 "`AssertionFailedException` should be [declared as] unchecked exception"
As you know, there is a conception of checked/unchecked exceptions in Java. PHP has this separation de-facto as well, but on conventions level: for example, PhpStorm by default doesn't warning lack of `@throws` for `\RuntimeException` and `\LogicException`.

I consider exception from `Assertion::` as an error: if it triggers, then we have bug or we missed validation.

PhpStorm warns about missed `

[2018-08-01 17:04] rquadling commented on #260
`AssertionFailedException` is just an interface for a `Throwable`.

The actual exception is an `\Assert\InvalidArgumentException` which extends `\InvalidArgumentException`.

I can certainly see that a failing assertion shouldn't be JUST about invalid arguments.

This looks to be valid to change from `class InvalidArgumentException extends \InvalidArgumentException implements AssertionFailedExcepti

[2018-08-01 19:00] unkind commented on #260
Actual exception is irrelevant in this case: IDE statically checks whether caller handle exception from the  `@throws` contract correctly or not (he has to either catch exception or declare `@throws` as well). IDE doesn't warn in case of unchecked exception, but `AssertionFailedException` cannot be recognized as one by default. And IDE asks to catch exception by `Assertion` or declare `@throws` in

[2018-08-02 09:55] rquadling commented on #260
The code does seemed to have evolved into a many faceted library capable of probably doing more than was originally intended.

If code changes are required to improve the library, then that makes sense for a PR and I'd certainly be happy to review it.

[2018-08-07 23:08] unkind commented on #260
I can submit PR, but I need to know which of solutions are acceptable for you:

[2018-08-14 14:55] rquadling commented on #260
What do other assertion libraries do? But I think the `LogicException` option makes sense. Failing assertions are not really about a bad value, but about the logic that allowed the bad value.

[2018-10-18 09:59] ntzm opened #263 "Undocumented change to url validation in 3.0.1"
URL regex was updated in 3.0.1, yet this was not noted in the release notes

[2018-10-18 19:04] rquadling commented on #263
Ah yes. I spotted that myself about a day after the release and thought "I'd better document that" and never did!

[2018-10-26 08:46] rquadling commented on #263
Done.

[2018-10-26 08:46] #263 closed

[2018-10-29 11:04] #258 closed

[2018-10-29 12:52] rquadling commented on #252
Please do.
Please read the https://github.com/beberlei/assert/blob/master/CONTRIBUTING.md.
Please write unit tests!
Apologies for not getting back to you sooner.

[2018-11-26 23:35] unkind commented on #260
It turns out that all `@throws` declarations by removed in this commit: https://github.com/beberlei/assert/commit/d5ac904edda7d4e668943cbdbf482eb072cacb29#diff-4066b84b483f6098378f612ecc64f381L381 (which is technically BC break I suppose and probably should be mentioned in the changelog).

So in fact, problem doesn't exist anymore, IDE inspection won't generate warning message, so I close this one

[2018-11-26 23:35] #260 closed

[2018-11-29 08:58] unkind commented on #252
You also need to clarify case when array contains objects. In my implementation there are two ways: object either implements special `->toHash()` method (similar to Java's one; it's useful for value objects) or "uniqueness" would be checked with "===" operator.

[2019-02-19 09:30] holtkamp opened #275 "2.9.6: Assertion::url('https://www.domain.ext') throws exception on PHP 7.3.2"
For version `beberlei/assert 2.9.6`, `Assertion::url('http://www.domain.ext');` fails on PHP `7.3.2`, while it worked on `7.1`.

Any idea what the cause is of this? Does PHP `7.3.2` interpret the regular expression differently?

Is that the reason why the regular expression was changed as mentioned here: https://github.com/beberlei/assert/issues/263 and documented here: https://github.com/beberlei

[2019-02-19 10:03] rquadling commented on #275
Thank you for raising this. I'll investigate this today.

[2019-02-19 10:39] rquadling commented on #275
I've introduced a specific test for the `Assertion::url('http://www.domain.ext')` against PHP 7.3.0, 7.3.1, and 7.3.2.

Tests seem to pass (once I limited the PHPUnit to < V8).

[2019-02-19 10:40] rquadling commented on #275
I've no real problem limiting a pre-existing version if it is not forward compatible.

[2019-02-19 10:56] rquadling commented on #275
But I think I'll probably leave it as it is as I don't want to maintain multiple versions simultaneously.

[2019-02-19 11:34] holtkamp commented on #275
Yeah, that would require a branch right?

https://github.com/beberlei/assert/issues/275#issuecomment-465084916

Did you manage to reproduce the problem of `beberlei/assert 2.x` @ `php 7.3`? In that case, maybe a warning in the documentation / changelog suffices...

[2019-02-19 11:54] rquadling commented on #275
Testing https://travis-ci.org/beberlei/assert/builds/495412959

[2019-02-19 12:11] rquadling commented on #275
Replicated : https://travis-ci.org/beberlei/assert/jobs/495412967#L902 preg_match(): Compilation failed: invalid range in character class at offset 187

https://github.com/symfony/validator/commit/ea91e49c40a943fd44bf515397dd4d88e0fd1374 is the fix.

I'll branch V2 and do a new release.

[2019-02-19 12:27] holtkamp commented on #275
Ok, good to hear it can be replicated. PCRE2 is a bit stricter when dealing with the regular expressions:

https://wiki.php.net/rfc/pcre2-migration
https://ayesh.me/Upgrade-PHP-7.3#pcre2

kudos for the swift response!

[2019-02-19 15:33] rquadling commented on #275
It was a bug in the original Symfony regex that I copied and updated later in V3.

[2019-03-04 11:28] adri commented on #275
@rquadling thanks for the fix! Do you know which branch/release to use?

[2019-03-04 11:46] adri commented on #275
@rquadling Ah I see, it should have been `2.9.7` but that's not released. The builds failed here https://github.com/beberlei/assert/commits/v2. Looks like phpstan failed, but I don't see it related to the code changes.

[2019-03-04 12:25] rquadling commented on #275
@adri, can you upgrade to V3?

[2019-03-12 08:33] marcosh opened #277 "`null` type hint on `nullOr` assertions"
At the moment the `nullOr` assertions are not considering the `null` input value. For example the `nullOrIp` assertion type hints on `string`. Shouldn't it be more correct to add also the `null` type hint?

It's not possible to use `?string` since the library targets php 7.0, but it should be ok to use `string|null` or just use `string $value = null`

[2019-03-25 09:36] rquadling commented on #277
Nullable typehints are PHP 7.1, so until I get to move the base PHP version, we will stick with the way it is.

As for the `nullOr` assertions, these are handled by `__callStatic` and so the docblock _SHOULD_ have `|null` against them.

I'll look into updating the docblocks this week.

Below if my first quick look at the patch for the documentation generator.

[code]

[2019-05-09 15:06] pfazzi opened #279 "Why doesn't method stringify return the ISO timestamp when value implements DateTimeInterface?"
It could be useful that method  `Assertion::stringify($value)`  returns the ISO representation of the `$value` if the value argument implements DateTimeInterface.
It will be good in cases like this:
[code]
The rendered message now is:
[code]
I'd like to have something like:
[code]

[2019-05-13 07:32] rquadling commented on #279
The stringify function _is_ a bit simplistic. Would need to be a major change for this as backward compatibility could be an issue for anyone working with the current pattern. Though, you could extend the Assertion class and present your own stringify method.

[2019-05-13 08:14] pfazzi commented on #279
That is true, it can cause backward compatibility. I would not like to extend the class so i'll look for another solution. Thanks anyway.

[2019-05-13 08:14] #279 closed

[2019-05-28 10:47] holtkamp opened #280 "PHPDoc for "all" helper type-hints to "string", disallowing arrays"
The [documentation for the "all" helper states](https://github.com/beberlei/assert#all-helper):

And gives an example for an array.

Checking an array of UUIDs *works properly* but results in a warning from my IDE:

<img width="378" alt="Screenshot 2019-05-28 at 12 42 10" src="https://user-images.githubusercontent.com/776405/58472371-698c3180-8146-11e9-8f89-dc33e0dd620c.png">

This is caused by th

[2019-05-28 12:18] rquadling commented on #280
Hmm. Yes. It looks like \MethodDocGenerator::generateMethodDocs needs a small bit of work to add `[]` to the first parameter typehint.

` * @method static bool allAlnum(mixed[] $value, string|callable $message = null, string $propertyPath = null) Assert that value is alphanumeric for all values.`

[2019-05-28 12:19] rquadling commented on #280
Some work may be needed for those that are arrays (or of a type that can be thought of as an array to start with - check the allCount() method).

[2019-05-28 14:57] holtkamp commented on #280
Aah, that part of the documation is generated, nice! So in that case a PR to just change the PHPDoc does not make a lot of sense...

[2019-07-24 07:17] DannyvdSluijs opened #284 "LazyAssertion not open for extension"
I wanted to extend the LazyAssertion in order to overload the `that` method. As I need to pass some additional details into the exception created by the assertion lib.

With all the properties on the LazyAssertion are private this doesn't allow for easy extending.

Would you be willing to accept a PR which would change the properties on the LazyAssertion from private too protected? (Like the Asser

[2019-07-25 09:14] rquadling commented on #284
Happy to accept a PR. Please make sure you provide an example in a test covering the extension as an example usage. Also please read https://github.com/beberlei/assert/blob/master/CONTRIBUTING.md.

Looking forward to seeing this!

[2019-08-09 12:37] DannyvdSluijs commented on #284
PR #285 has been created for this. If you could, at your convenience, have a look and let me know what you think of it.

I've made sure that:
- The PR uses a feature branch
- Ran `composer assert:cs-fix`
- Didn't add new assertions so no regeneration required.
- Doesn't create new build artefacts
- Travis build is succeeding

[2019-08-28 19:48] DannyvdSluijs commented on #284
@rquadling nudging you as a gentle reminder to get your feedback on my PR. Thanks in advance.

[2019-08-30 16:23] rquadling commented on #284
Hi. Sorry! Looking.

[2019-08-31 13:09] rquadling commented on #284
See the PR for my comments. Please rebase onto master for more uptodate pipeline checks and consistencies.

[2019-09-03 05:41] DannyvdSluijs commented on #284
Thanks for the review, I'll pick it up from here.

[2019-09-09 20:53] codeliner opened #287 "Latest release breaks BC"
Hi,

we have trouble with the 3.2.3 release. It introduced a BC break:

![image](https://user-images.githubusercontent.com/5131987/64564453-dde38d00-d351-11e9-8f98-9ce7b0670adf.png)

We extend `Assertion` to override `Assertion::createException` so that a prooph specific `InvalidArgumentException` is thrown. Please note, prooph's InvalidArgumentException only extends the one from the PHP core and

[2019-09-11 15:59] rquadling commented on #287
I'll revert the changes in 3.2 and make a 3.3.0.

I should have been paying more attention to the sig changes as being a BC break.

Sorry about this.

[2019-09-11 16:35] codeliner commented on #287
Good news. Thx @rquadling

[2019-09-25 15:15] jakzal opened #288 "[BC Break] Intl is now a required dependency"
#286 made that the whole beberlei/assert package now requires the intl extension to be installed.

#268 and #269 updated count() and isCountable() to now work with intl resources.

It's what I'd call an optional dependency though. The Assertion class, and therefore the whole library, can work perfectly fine without the intl extension.

The intl extension is still not being commonly installed as fo

[2019-09-26 10:18] pyrorules commented on #78
Hi,

I'd like to draw your attention to this issue again since we're using the library a lot in our applications and find the nuance problematic when using alnum check from time to time. It says that "123" is not alphanumeric which, of course, is not true and is simply a bug.

Any plans on fixing it soon?

[2019-10-02 19:25] codeliner commented on #287
@rquadling Sorry for the question, but any news on this?
Wouldn't ask if it is a feature request, but our pipeline is still failing due to this BC break. Let me know if I can do anything!

[2019-10-04 12:00] Vorta opened #291 "LazyAssertion chaining no longer hinted in PhpStorm"
Version: v3.2.2
I'm not sure if this is due to PhpStorm or due to LazyAssertion docblock, so I'm reporting here first.

Code example:
[code]

Above example will work normally, however, PhpStorm will underline the `notEmpty` method and say "Method 'notEmpty' not found".

The only way I could get the hints to work properly again was to replace `@method $this ...` with `@method \Assert\LazyAssertion`

[2019-10-05 22:54] rquadling commented on #291
That looks like an error on our part.

[2019-10-10 09:58] rquadling commented on #291
Hopefully fixed in v.3.2.4.

[2019-10-10 09:59] rquadling commented on #287
Hopefully fixed in v3.2.4

[2019-10-10 10:00] rquadling commented on #284
I've had to release a fix for some BC's. Can you rebase and fix please?

[2019-10-10 10:23] rquadling commented on #280
Apologies for the lack of response ... life!

[code]

Seems to do the trick.

Released in v3.2.5

[2019-10-10 10:23] #280 closed

[2019-10-10 10:24] rquadling commented on #287
Well. v3.2.5 ...!

[2019-10-10 10:55] rquadling commented on #78
Hi. I'm happy to accept PRs on this. I'm sort of the de-facto maintainer now, but the library is still @beberlei's.

As for BCs, I'm using semantic versioning (and nearly fully understanding it!!! Yay! Please excuse the hiccough in the V3.2 version .. should all be sorted now!), so a v4 and a clear differentiation would be nice, but things would really need to be tested as we don't all work in all

[2019-10-10 10:56] rquadling commented on #78
Also, as you are able to subclass the Assert library now, you may find it "simpler" to implement your own assertions on top of Assert.

[2019-10-10 20:54] codeliner commented on #287
thx @rquadling ! will check it tomorrow on our end.

[2019-10-10 20:54] #287 closed

[2019-10-12 17:05] rquadling commented on #287
Thank you.

[2019-10-13 18:45] DannyvdSluijs commented on #284
@rquadling will do a rebase but still havent found the time to makes changes based your review.

[2019-11-15 08:25] jkuchar opened #292 "Invalidly required array instead of iterable"
All methods require iterable, however array is in the annotation.

More information in comments at this commit: https://github.com/beberlei/assert/commit/4fd15cd95f8659407bc5afb5d8248a3458318cc6

[2019-11-22 13:06] #288 closed

[2019-12-03 16:15] LucasHantz commented on #291
Hello, looks like it's not fixed.
The "@method static static" does not the trick.
Putting @method LazyAssertion works though. Why not use that?

[2019-12-06 15:28] bendavies opened #293 "date does not work with variable precision of microseconds"
Hi,

`Assertion::date('2019-10-31 14:08:46.429', 'Y-m-d H:i:s.u')` will not work formatting the resulting date will not be the same as the input string: https://github.com/beberlei/assert/blob/99508be011753690fe108ded450f5caaae180cfa/lib/Assert/Assertion.php#L2396

`2019-10-31 14:08:46.429` will be formatted as '2019-10-31 14:08:46.429000'.
These dates are equivalent.

A different method is needed

[2019-12-19 17:28] rquadling commented on #291
Fair enough!

[2019-12-19 17:57] rquadling commented on #292
As the pseudo-type iterable is only available in PHP 7.1+, what would you recommend for PHP 7.0 support?

[2019-12-19 18:02] rquadling commented on #291
Released 3.2.7

[2019-12-19 18:02] #291 closed

[2020-01-05 09:28] jkuchar commented on #292
That unfortunatelly does not say much.

I would prefer for `string[]` replace with `string[]|Traversable<mixed,string>`. As:

- IDE should understand the first part
- static analyzer whould translate type as `string[]|Traversable<mixed,string>` -> `array<mixed,string>|Traversable<mixed,string>` -> `Traversable<mixed,string>`

[2020-01-08 10:09] rquadling commented on #292
If you want to make a PR, the work is in the documentation generator. Happy to review it.

[2020-01-10 15:43] mleczakm opened #294 "Assertion::url() does not support url with underscores in subdomains"
Url like this: `http://_www.valid-domain.com` results in error, when it is perfectly valid.

[2020-01-12 11:31] rquadling commented on #294
The validation in `Assertion::url()` is based around upon Symfony's UrlValidator which now supports `_` in domain names, I will update this to match.

[2020-02-09 09:31] fracz opened #297 "Assertion::keySet"
What do you think about an assertion that validates if the array meets the specified set of keys?

[code]

Inspired by https://respect-validation.readthedocs.io/en/1.1/rules/KeySet/

[2020-02-21 10:16] Levivb opened #298 "issues with NAN"
Hey,

Thanks for this handy package.

PHP has some weird constructs regarding NAN
Note this repl output:
[code]

We're dealing with code like this:
[code]

Even php itself issues no Exception when passing NAN into this constructor with `float` typehint.
Would it be feasible to add a `isNotNan` check and/or update existing assertions to that this (inconsistency?) into account?

[2020-05-21 06:07] githoober commented on #298
This library seems abandoned.

[2020-05-21 08:51] Levivb commented on #298
probably. we're going to step over to https://github.com/webmozart/assert anyway

[2020-05-22 11:02] rquadling commented on #298
It's not abandoned ... just not got much time at the moment.

[2020-05-22 11:11] #252 closed

[2020-06-26 04:12] rupa4ok opened #300 "Assert\Assertion in annotations"
Hello, i can use Assert\Assertion in anotations? Thx/

[2020-09-10 13:44] ausi opened #301 "PHP 8.0 compatibility"
Are there any plans for adding compatibilty with PHP 8.0?

Would you like me to create a pull request for this?

[2020-10-05 19:09] ptondereau commented on #301
#302 here!

[2020-10-05 19:35] ausi commented on #301
Closed in favor of #302

[2020-10-05 19:35] #301 closed

[2020-11-25 13:11] BoShurik opened #307 "Invalid psalm annotation"
https://github.com/beberlei/assert/blob/master/lib/Assert/Assertion.php#L2027

Looks like there is no `non-empty-countable` type in psalm

https://psalm.dev/r/ec5afa6b58

[2020-12-03 16:57] #307 closed

[2020-12-16 23:56] cvmiert opened #309 "[BC break] Changes introduced in v3.2.4-v3.2.7 are excluded in v3.3.0"
I ran into the same issue as reported in #288 and realized its fix was dropped in `v3.3.0`.

It looks to me like the `v3` branch never got merged into the main branch while development continued there.

![image](https://user-images.githubusercontent.com/40272863/102420234-f08f4c00-4001-11eb-8173-77ca2af76c9a.png)

[2020-12-21 18:28] wilsonge commented on #309
This affects us in @joomla too - I've tried a PR to resolve conflicts here: https://github.com/beberlei/assert/pull/310 - but neds a maintainer to review it as I'm not an expert on this project :(

[2021-01-26 17:51] p4veI opened #311 "Assertion::url validates invalid domain names"
I've come across an issue where Assertion::url() method validates an invalid url.

I've passed `http://whatever` through this method without including a top level domain name e.g. `.com` etc. I feel like this is an invalid domain, however maybe I'm missing something as the pattern is quite extensive.

I've pasted the pattern [here](https://regex101.com/r/ZxEyjd/1) and included some examples, the f

[2021-01-28 21:47] Ilyes512 opened #312 "PHP 8 vs is_resource()"
So with PHP 8 we got some backwards incompatible changes regarding `is_resource()`. For example curl_init does not return an resource anymore but an object and so `is_resource` will fail (return false). See https://php.watch/versions/8.0/resource-CurlHandle

So I am trying to use a library that uses this library to check the result of a curl_init call: [link](https://github.com/php-vcr/php-vcr/blo

[2021-02-07 23:04] marionek111 opened #313 "method greaterThan really checks greaterOrEqualThan"
Method greaterThan is using '$value <= $limit' comparation instead of '$value < $limit',
and method greaterOrEqualThan is using '$value < $limit' comparation instead of '$value <= $limit'.
Also, the error message does not match the applied condition.

[2021-02-07 23:42] #313 closed

[2021-04-18 19:59] #309 closed

[2021-04-18 20:36] beberlei commented on #312
There is no way for us to fix it, this is a BC break in PHP made in a major version and that is their right to do. PHP core has made clear that `is_resource` will not be changed to check for new resource object types in the past, so we are going with this direction.

[2021-04-18 20:36] #312 closed

[2021-04-18 20:37] beberlei commented on #300
No

[2021-04-18 20:37] #300 closed

[2021-04-18 20:38] #275 closed

[2021-05-17 16:15] marcosh opened #316 "`Assertion::uuid` assertion generates fatal error"
Consider the case where the `uuid` method receives a value containing a `%s` segment.

It is not a valid `uuid` the code catches a thrown exception and uses the stacktrace as the error message.

That stacktrace will possibly contain multiple times the `%s` in the initial `uuid`.

When `sprintf` is called, this causes a fatal error

[2021-05-18 08:24] #316 closed

[2021-06-03 10:23] SeredOFF commented on #311
Also Assertion::url() method skips invalid hostnames:
1. http://www.ex=ample.com - invalid characters,
2. https://www.EXAMPLE.cOm - hostname must be in lowercase.

[2021-06-28 13:24] ccybuszSV opened #317 "Allow predicated validation in Lazy Assertions chains"
The current `Assert::lazy()` is a very powerful tool that allows for clean easy validation in our actions. However, we've noticed that we sometimes come across this use case:

1. A is a parameter that has many valid values (e.g. a number between 0 and 999 inclusive)
2. B is a parameter that must be a valid email if A is greater than 0

As it stands, there's no "clean" way of doing this in one pass

[2021-07-20 12:34] DannyvdSluijs commented on #284
Leaving the PR for what it is. Ive no longer need the changes proposed in this PR. If somebody wants to take over feel free.

[2021-07-20 12:34] #284 closed

[2021-07-21 11:31] lcts commented on #221
Hi, would it be possible to have clarification on this @beberlei (or other contributors)? I'd like to package this library for Fedora, but currently cannot due to these inconsistencies.

My interpretation is that the intended license is BSD-2-clause, is that correct?

[2022-01-06 13:32] ktomk opened #321 "assert/CONTRIBUTING.md on `master`"
Wanted to file a PR for reporting an issue and followed _How to contribute_.

Thanks for the nice introduction in it and also for not being extensive.

But already with the second bullet-point:

I run into an issue as when I execute it on a clean checkout of master, it already modifies files. And some of the fixes even don't look good to me. So just wondering if they currently apply and how to pro

[2022-03-01 19:49] dennis-fedco opened #323 "Is there a way to assert for known specific values?"
Is there an efficient concise way to Assert for known possible values ahead of time, i.e. if a variable has values of either `0` or `1` (strings)?  This is for a specific case with checkboxes.

But what about a more general case, like {`alpha`, `beta`, `gamma`, `zetta`}?

[2022-04-06 15:15] arjanfrans opened #324 "API to improve describing property paths"
I am using validation in my models and want to be specific about the validation errors. I want to know from which class and property and error came. I am aware that it is possible by setting the 'defaultPropertyPath' to something like 'Address.street', but this will cause a lot of duplication. For each 'that' call you'd have to specify the property.

What I am looking for is an API which looks mor